/*   * selector applies to all elements  */
* {
  margin: 0;
}

html, 
body{
  height: 100%;
  
}

body{
  font-family:Arial, Helvetica, sans-serif ;
  background-color: #999;
}

p{
  margin: 0.5em 0 0.5em 0 ;
        /*top right bottom left  */
}

header{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #a493c0;
  padding: 10px;
} 


main {
  display: block;
  background-image: url("background.png");
  size: 100vh;
  /* background-color:#358175; */
  padding-top: 3em;
  padding-bottom: 3em;   
  min-height: 85%;
}

footer{
  padding: 15px;
}

aside, article {
  padding: 2em;
}

aside {
  height: 20px;
  align-items:center;
  text-align: center;
}

article {
  width: 75%;   /*   use only 75% of the width  */
}

.columns {
  display: flex;
}





/*   target to screens that are 768px and wider  */
@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }
  aside {
    margin-left: 2%;
  }
  .columns-desktop {
    display: flex;
  }
}


@media only screen and (min-width: 768px) {
  article {
      width: 600px;
  }
}

.input-group {
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
  padding: 10px;
  border: solid 1px #999; 
  border-radius: 2px;
  width: 50%;
}

.input-group select {
  width: 51.5%;     
}

label {
  font-weight: 600;
}


 input[type="reset"] { 
  background: transparent;
  border: 0;
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"] {
  border: solid 1px #999; 
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
}

  
.container{
  float: left;
  margin: 10px;
}
.right{
  float: left;
  margin: 10px;
color: blue;
font-size: 20px;
  font-weight:bold;
}
.radio {
  width: 20px;
  position: relative;
}
.radio label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 3px 3px 9px rgba(0,0,0,0.5);
  border: 1px solid black;
}
.radio label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  border: 6px solid blue;
  border-radius: 50px;
  opacity: 0;
  }
.radio label:hover::after {
  opacity: 0.3;
  }
.radio input[type=radio] {
  visibility: hidden;
}
.radio input[type=radio]:checked + label:after {
   opacity: 1;
  }  

.logo{ 
  width: 200px;
  padding: 35px 0;
  position: fixed;
  top: 0px;
  left: 1300px;
  right: 0px;
 }
